.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  overflow: hidden;
  padding: 20px 10px;
  color: white;
}

.main {
  background-color: antiquewhite;
}

.footer {
  background-color: #282c34;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 5px 5px;
}
